.main-page {
  // border: 1px solid black;
  .input-style {
    padding: 10px 20px;
    background: white;
    border-radius: 10px;
    margin: 20px 0;
  }
  button {
    min-width: 200px;
  }
  button#search {
    width: 100%;
  }
}